<% if(true){ %>
<div class="busuanzi-count">
    <script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <span class="site-uv">
        <span class="busuanzi-value" id="busuanzi_value_site_uv"></span>
    </span>
/
    <span class="site-pv">
        <span class="busuanzi-value" id="busuanzi_value_site_pv"></span>
    </span>
</div>
<% } %>
